* {
  outline: none !important;
}

html,
body,
.inner__body {
  min-height: 100%;
}

body {
  font-size: 18px;
  font-family: $base__font;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

.position-relative {
  position: relative;
}

.w-clear:after {
  content: "";
  display: table;
  clear: both;
}

@media(max-width: 767px) {
  .img-responsive {
    margin: 0 auto;
  }
}

@media(max-width: 767px) {
  html {
    font-size: 6px;
  }
}