.b-btn {
  font-size: 16px;
  padding:8px 12px;

  &.btn-primary {
    border-color: $btn-primary;
    background-color: $btn-primary;

    &:focus,
    &:hover {
      box-shadow: none;
      border-color: $btn-primary-hover;
      background-color: $btn-primary-hover;
    }
  }
}
.b-btn__form {
  font-size: 14px;
  font-weight:700;
  text-transform: uppercase;
}