.b-input {
  width:100%;
  border:none;
  color: $primary;
  display: block;
  font-size: 18px;
  padding:12px 20px;
  border-radius: 5px;
  background-color: #fff;

  &::placeholder {
    color: lighten($primary, 50%);
  }
}