.b-header {
  margin:0 0 25px;
  font-weight:600;
  font-size: 7.8rem;
  color: $header__color;
}
.b-sub__header {
  margin:0 0 30px;
  font-weight:600;
  font-size: 21px;
  letter-spacing:10px;
  color: $header__color;
  text-transform: uppercase;

  @media(max-width:767px) {
    font-size: 18px;
  }
}