.b-slider__item {
  width: 100%;
  display: flex;
  max-width:215px;
  margin:10px auto;
  min-height: 280px;
  border-radius: 6px;
  flex-direction: column;
  padding:55px 40px 30px;
  background-color: #fff;
  justify-content: space-between;
  box-shadow: 0 0 20px rgba(0, 0, 0, .10);

  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
  }

  @media(max-width:599px) {
    width:215px;
  }

  .head {
    color: $primary;
    font-size: 18px;
    font-weight:600;
    margin:0 0 10px;
  }

  .icon {
    //max-width:75px;
    margin:0 auto 30px;
    width: auto!important;
  }
}
.b-slider__nav {
  top: 0;
  bottom: 0;
  z-index: 9;
  left: -70px;
  right: -70px;
  display: flex;
  position: absolute;
  align-items: center;
  pointer-events: none;
  justify-content: space-between;

  @media(max-width:767px) {
    left:0;
    right:0;
  }

  .control {
    width:56px;
    height:56px;
    border:none;
    color: #fff;
    display: flex;
    font-size: 38px;
    cursor: pointer;
    margin-top:-40px;
    border-radius: 50%;
    pointer-events: all;
    align-items: center;
    justify-content:center;
    background-color: rgba(0, 0, 0, .3);

    [class^='icon'] {
      margin-top: -3px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, .45);;
    }
  }
}
.b-start-page__content {
  padding-top:164px;

  @media(max-width:767px) {
    padding-top:50px;
  }
}


.w-search__form {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  .b-btn {
    min-width:125px;
    margin-left:15px;

    @media(max-width:425px) {
      min-width:auto;
    }
  }
}
.w-slider {
  max-width: 670px;
  position: relative;
  margin: 0 auto 25px;

  .owl-dots {
    margin-top:0;

    .owl-dot {
      vertical-align: middle;

      &.active {

        span {
          width: 10px;
          height:10px;
          border-color: $btn-primary;
          background-color: $btn-primary;
        }
      }

      span {
        width: 8px;
        height: 8px;
        border:1px solid #b2bfc7;
        background-color: transparent;
      }
    }
  }
}
.w-start__page {
  min-height:100vh;
  position: relative;
  padding-bottom: 81px;
  background: url("../img/main-bg.jpg") no-repeat bottom left;
  background-size: cover;

  @media(max-width:767px) {
    padding-bottom:151px;
  }
}