@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?p2a3a5');
  src:  url('fonts/icomoon.eot?p2a3a5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?p2a3a5') format('truetype'),
    url('fonts/icomoon.woff?p2a3a5') format('woff'),
    url('fonts/icomoon.svg?p2a3a5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-pinterest-p:before {
  content: "\f231";
}
.icon-google-plus2:before {
  content: "\e907";
}
.icon-chevron-left:before {
  content: "\e900";
}
.icon-chevron-right:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
