.b-copy {
  margin:0;
  font-size: 14px;
  text-align: right;

  @media(max-width:767px) {
    text-align: center;
  }
}
.b-footer__menu {
  margin:0;
  font-size: 16px;

  @media(max-width:767px) {
    margin:15px 0;
  }

  >li {
    display: inline-block;
    vertical-align: middle;

    &+li {
      margin-left:36px;
    }

    >a {
      color: #fff;
    }
  }
}
.b-social__menu {
  margin:0;
  display: flex;

  @media(max-width:767px) {
    justify-content:center;
  }

  >li {

    &+li {
      margin-left:14px;
    }

    >a {
      width: 32px;
      height:32px;
      display: flex;
      font-size: 24px;
      border-radius: 50%;
      align-items: center;
      text-decoration: none;
      background-color: #fff;
      justify-content: center;
      color: rgba(0, 0, 0, .5);
      
      &:hover {
        color: #fff;
      }
    }

    .facebook:hover {
      background-color: #3b5998;
    }
    .twitter:hover {
      background-color: #00aced;
    }
    .pinterest:hover {
      background-color: #bd081b;
    }
    .google:hover {
      background-color: #dd4b39;
    }
    .youtube:hover {
      background-color: #b00;
    }
    .linkedin:hover {
      background-color: #007fb2;
    }
  }
}

.w-footer {
  left: 0;
  bottom: 0;
  color: #fff;
  width: 100%;
  padding:18px 0;
  position: absolute;
  background-color: rgba(0, 0, 0, .28);

  @media(max-width:767px) {
    background-color: #363636;
  }

  .flex__row {
    display: flex;
    align-items:center;

    @media(max-width:767px) {
      text-align: center;
      flex-direction:column;
    }

    [class^="col"] {
      width: 100%;
    }
  }
}