.b-lang {
  width: 100%;
  color: #fff;
  font-size: 16px;
  line-height:74px;
  text-align: center;

  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: $menu-link-hover;
  }
}
.b-logo {
  padding:0;
  height:51px;
  width: 273px;
  display: block;
  margin-right: 40px;
  background: url('../img/logos/aristolo-header-logo.png') no-repeat;
  background-size: contain;

  @media(max-width:1199px) {
    margin-right: 20px;
  }

  @media(max-width:1070px) {
    height:51px;
    width: 158px;
    background: url('../img/logos/aristolo-header-logo-medium.png') no-repeat;
    background-size: contain;
  }

  @media(max-width:767px) {
    height:37px;
    width: 115px;
    margin-right: 12px;
  }

  &:hover {
    opacity: .9;
  }
}
.b-login {
  color: #fff;
  font-size: 16px;
  font-weight:bold;

  @media(max-width:767px) {
    display: block;
    padding: 0 10px;
    font-size: 14px;
    line-height: 49px;
    text-transform: uppercase;
    background-color: $btn-primary;
  }

  &:hover {
    opacity:.8;
    color: #fff;
    text-decoration: none;
  }
}
.b-menu {
  @media(max-width:767px) {
    margin:10px 0;
  }

  >li {
    
    >a {
      color: #fff;
      font-size: 16px;
      padding:9px 15px;

      &:not(.b-btn):hover {
        opacity:.8;
        background-color: transparent;
      }
    }

    .b-btn {
      padding: 8px 15px;
    }
  }

  >li + li {
    margin-left:20px;

    @media(max-width:1070px) {
      margin:0;
    }
  }
}
.b-navbar__toggle {
  float: left;
  height: 49px;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  margin: 0 15px 0 0;
  background-color: #2b2b2b;

  .icon-bar {
    background-color: rgba(255, 255, 255, .5);
  }
}
.b-search {
  color: #fff;
  width: 100%;
  font-size: 22px;
  line-height: 74px;
  text-align: center;

  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: $menu-link-hover;
  }

  @media(max-width:767px) {
    line-height:49px;
  }
}



.w-menu {
  order:4;
  flex:1 1 auto;
  padding:0 40px;

  @media(max-width:1070px) {
    padding:0 15px;
  }
  @media(max-width:767px) {
    flex:1 1 100%;
  }
}
.w-header {
  min-height: 74px;
  background-color: #363636;

  @media(max-width:767px) {
    min-height:auto;
  }

  .container {
    padding: 0;

    @media(max-width:1199px) {
      width: 100%;
      padding:0 15px;
    }
  }

  .navbar {
    border:none;
    min-height:auto;
  }
}
.w-lang {
  order:3;

  @media(max-width:840px) {
    display: none!important;
  }
}
.w-login {
  order:5;
  margin-right: -15px;

  @media(max-width:767px) {
    order: 3;
    margin:0;
  }
}
.w-menu__row {
  height: 74px;
  display: flex;
  align-items: center;

  @media(max-width:767px) {
    height:auto;
    margin:0 -15px;
    flex-wrap: wrap;
  }

  @media(max-width:425px) {
    //flex-wrap:nowrap;
  }

  .navbar-header {
    order:1;
    display: flex;
    margin-right: 0;
    align-items: center;

    @media(max-width:767px) {
      flex:1 1 auto;
    }
  }
}
.w-search {
  order:2;

  @media(max-width:767px) {
    order:4;
    margin-right: -15px;
  }
}

.menu__cell {
  width: 75px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgba(255, 255, 255, .2);

  @media(max-width:840px) {
    border-right: 1px solid rgba(255, 255, 255, .2);
  }

  @media(max-width:767px) {
    width: 53px;
  }

  & + .menu__cell {
    border-right: 1px solid rgba(255, 255, 255, .2);
  }
}